@media screen and (min-width: 400px) and (max-width: 620px) {
    .contener { 
        list-style-type: none;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 10px ;
        background-color:#ac0bc2;
        display: flex;
        flex-direction: row-reverse ;
        justify-content: end;
    }
    li a{
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 15px;
    text-align: center;
    margin-right: 10px;
    
    }
    .img{ 
        height: 30px;
        width: auto;
        display: flex;
        flex-direction: row;
        
        
    }
    .img:hover{
        height: 32px;
        width: auto;


    }
    li a:hover{
        color: blue;
    }
}
@media screen and (min-width: 620px) and (max-width: 940px) {
.contener { 
    list-style-type: none;
    left: 0;
    right: 0;
    margin: 0px;
    padding: 20px ;
    background-color:#d1d3dd;
    display: flex;
    flex-direction: row;
    justify-content: end;
}  

li a {

   color: white;
    padding: 8px 16px;
    text-decoration: none;
  }
  li a:hover{
    box-shadow: 0px 15px 50px 0px white;
    border-radius: 5px;
   
  }
  .left{
    margin-left: 3%;
    margin-top: 5%;
    font-size: 40px;
    
}
.img{
    display: none;
}

}

@media screen and (min-width: 940px) and (max-width: 1700px) {
    .contener { 
        list-style-type: none;
        top:0;
        left: 0;
        margin: 0;
        padding: 0;
        width: 15%;
        background-color: #161923;
        position: fixed;
        height: 100%;
        overflow: auto;
        
    }  
    li a {
        
        display: block;
        color: white;
        padding: 8px 16px;
        text-decoration: none;
        font-size: 20px;
        margin: 20px 10px;
        padding: 5px 10px;
        border: solid 1px white ;
        border-radius: 5px ;
      }
    li a:hover{
        border: solid 2px rgb(0, 169, 56);
        box-shadow: 0px 0px 15px 0px white;
        text-align: center;
        transition-duration: 0.3s;
        color:rgb(0, 155, 169) ;
    }
    .left{
        margin-left: 17%;
        margin-top: 2%;
        font-size: 40px;
    }
    .img{
        display: none;
    }
    
}